# Secrets
.env
*.env
*.tfvars
prod.tfvars
*.tfstate
*.tfstate.backup

# Terraform
.terraform/
.terraform.lock.hcl
tfplan

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
dist/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Node / Angular
node_modules/
dist/
.angular/

# IDE
.vscode/
.idea/
*.swp

# Docker
*.log

# Videos
*.mkv
